/* Universal Styles */
body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background-color: black;
    text-align: center;
}


/* Header Section */


/* Main Section */


/* Footer Section */